

html, body {
    height:100%;
    background-image: url("battleship-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

table {
       border-spacing: 0;
       border: 1px solid black;
       background-color: lightBlue;
}

.my-btn {
       display:block;
       background-color: #add8e6;
       height:100%;
       width:100%;
       cursor:pointer;
       padding: 0;
       margin: 0;
       border: 0;
}

.bold {
    font-weight:bold;
}

.first-cell {
    color:0 !important;
    border: none !important;
    opacity: 0.1;
}

.my-btn:hover {
   background-color: #1e90ff;
}

.my-btn:active {
   background-color: darkBlue;
}

tr {
    padding: 0;
    margin: 0;
    border: 0;
}

td, th {
    background-color: #04AA6D;
    text-align: center;
    max-width: 30px;
    min-width: 30px;
    max-height: 50px;
    min-height: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}