<html xmlns:th="http://www.thymeleaf.org">
<div class="container board-container" th:fragment="boards" id="board1" th:object="${shipsToPlace}">
<!--    style="visibility:hidden"-->
<!--    <h2 id="shipPlacingInfo" th:with="shipIterator = 0" th:text="|Ships placing phase: place ${shipsToPlace[shipIterator].getType()} ${shipsToPlace[shipIterator].getWhichOfAKind()}|">Placing ships</h2>-->
    <div class="floatLeft">
        <br>
        <table id = "boardTable" th:object="${board}">
        <thead>
        <tr class = "gridRow">
            <th class="first-cell"></th>
            <th class="tableHeadCell">A</th>
            <th class="tableHeadCell">B</th>
            <th class="tableHeadCell">C</th>
            <th class="tableHeadCell">D</th>
            <th class="tableHeadCell">E</th>
            <th class="tableHeadCell">F</th>
            <th class="tableHeadCell">G</th>
            <th class="tableHeadCell">H</th>
            <th class="tableHeadCell">I</th>
            <th class="tableHeadCell">J</th>
        </tr>
        </thead>
        <tbody th:object="${counter}">
        <tr class = "gridRow" th:each="row, i : ${board}">
            <td class="bold counterCell" th:text="${counter.increment()}"></td>
<!--            <td class="dataCell" th:each="field : ${board[i.index]}"><input type="button" fieldstatus="empty" class="my-btn" th:method="get" th:id="|${field.getX()}${field.getY()}|" th:action="@{/setup/placeShips}" onclick="setShip(this)" th:onclick="|setShip(this); window.location.href='/placeShips?coords=${field.getX()}${field.getY()}'|"></td>-->
            <td class="dataCell" th:each="field : ${board[i.index]}"><input type="button" fieldstatus="empty" class="my-btn" th:id="|${field.getX()}${field.getY()}|" th:onclick="|setShip(this); placeShipTile(${field.getX()}, ${field.getY()})|"></td>
        </tr>
        </tbody>
    </table>
        <button type="button" id="reset" onclick="resetBoard()">Reset board</button>
        <h5 id="shipPlacingInfo">Ship Placement phase.
            <br>Place ships by clicking.
            <br>Longest ships first.</h5>
    </div>

    <div class="floatRight">
        <br>
        <table id = "boardTableOpponent" th:object="${opponentBoard}">
        <thead>
        <tr class = "gridRow">
            <th class="first-cell"></th>
            <th class="tableHeadCell">A</th>
            <th class="tableHeadCell">B</th>
            <th class="tableHeadCell">C</th>
            <th class="tableHeadCell">D</th>
            <th class="tableHeadCell">E</th>
            <th class="tableHeadCell">F</th>
            <th class="tableHeadCell">G</th>
            <th class="tableHeadCell">H</th>
            <th class="tableHeadCell">I</th>
            <th class="tableHeadCell">J</th>
        </tr>
        </thead>
        <tbody th:object="${counterOpponent}">
        <tr class = "gridRow" th:each="row, i : ${opponentBoard}">
            <td class="bold counterCell" th:text="${counterOpponent.increment()}"></td>
<!--            <td class="dataCell" th:each="field : ${opponentBoard[i.index]}"><input type="button" fieldstatus="empty" class="my-btn" th:method="get" th:id="|${field.getX()}${field.getY()}|" th:action="@{/setup/placeShips}" onclick="setShip(this)" th:onclick="|setShip(this); window.location.href='/placeShips?coords=${field.getX()}${field.getY()}'|"></td>-->
            <td class="dataCell" th:each="field : ${opponentBoard[i.index]}"><input type="button" fieldstatus="empty" class="opp-btn" th:id="|${field.getX()}${field.getY()}|" th:onclick="|setShip(this); placeShipTile(${field.getX()}, ${field.getY()})|" disabled></td>
        </tr>
        </tbody>
    </table>
    <h5 id="opponentShipPlacingInfo" class="red" th:object="${gameId}">Opponent is placing his ships</h5>
    </div>

    <br/>

    <script th:inline="javascript">
        var shipsToPlace = JSON.parse([[${shipsToPlace}]]);
    </script>
</div>
</html>