<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="container board-container" th:fragment="boards" id="board1" th:object="${shipsToPlace}">

    <div class="floatLeft">
        <br>
        <h4>Your board: <span class="red" id="currentUsername" sec:authentication="principal.username">User</span></h4>
        <table id = "boardTable" th:object="${board}">
        <thead>
        <tr class = "gridRow">
            <th class="first-cell"></th>
            <th class="tableHeadCell">A</th>
            <th class="tableHeadCell">B</th>
            <th class="tableHeadCell">C</th>
            <th class="tableHeadCell">D</th>
            <th class="tableHeadCell">E</th>
            <th class="tableHeadCell">F</th>
            <th class="tableHeadCell">G</th>
            <th class="tableHeadCell">H</th>
            <th class="tableHeadCell">I</th>
            <th class="tableHeadCell">J</th>
        </tr>
        </thead>
        <tbody th:object="${counter}">
        <tr class = "gridRow" th:each="row, i : ${board}">
            <td class="bold counterCell" th:text="${counter.increment()}"></td>
            <td class="dataCell" th:each="field : ${board[i.index]}"><input type="button" fieldstatus="empty" class="my-btn" th:id="|${field.getX()}${field.getY()}|" th:onclick="|sendPlaceShipTile(${field.getX()}, ${field.getY()}); setShip(this)|"></td>
        </tr>
        </tbody>
    </table>
        <button type="button" id="reset" onclick="resetBoard()">Reset board</button>
        <button type="button" id="randomPlacement" onclick="setAllShipsRandomly()">Randomize</button>
        <h5 id="shipPlacingInfo">Ship Placement phase.
            <br>Place ships by clicking.
            <br>Longest ships first.</h5>
    </div>

    <div class="floatRight">
        <br>
        <h4>Board of opponent: <span id="opponentUsername" class="red" th:object="${opponentName}" th:text="${opponentName}"></span></h4>
        <table id = "boardTableOpponent" th:object="${opponentBoard}">
        <thead>
        <tr class = "gridRow">
            <th class="first-cell"></th>
            <th class="tableHeadCell">A</th>
            <th class="tableHeadCell">B</th>
            <th class="tableHeadCell">C</th>
            <th class="tableHeadCell">D</th>
            <th class="tableHeadCell">E</th>
            <th class="tableHeadCell">F</th>
            <th class="tableHeadCell">G</th>
            <th class="tableHeadCell">H</th>
            <th class="tableHeadCell">I</th>
            <th class="tableHeadCell">J</th>
        </tr>
        </thead>
        <tbody th:object="${counterOpponent}">
        <tr class = "gridRow" th:each="row, i : ${opponentBoard}">
            <td class="bold counterCell" th:text="${counterOpponent.increment()}"></td>
            <td class="dataCell" th:each="field : ${opponentBoard[i.index]}"><input type="button" fieldstatus="empty" class="opp-btn" th:id="|opp${field.getX()}${field.getY()}|" th:onclick="|sendShotInfo(${field.getX()}, ${field.getY()});|" disabled></td>
        </tr>
        </tbody>
    </table>
    <h5 id="opponentShipPlacingInfo" class="red" th:object="${gameId}">Opponent is placing his ships</h5>
    </div>

    <br>

    <script th:inline="javascript">
        var shipsToPlace = JSON.parse([[${shipsToPlace}]]);
        var startingPlayer = [[${startingPlayer}]];
    </script>
</div>
</html>