<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="menu-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
<!--            <a class="navbar-brand" href="#" th:href="@{/}">Back to main menu</a>-->
            <a class="navbar-brand" style="pointer-events: none;cursor: default;"> Logged in as <span id="currentUsername" sec:authentication="principal.username">User</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
<!--                <li><a th:href="@{/gameLobby}">Game lobby</a></li>-->
<!--                <li><a th:href="@{/newGame}">New game</a></li>-->
<!--                <li><a th:href="@{/availableGames}">Join game</a></li>-->
<!--                <li><a th:href="@{/placeShips}">Place ships</a></li>-->
<!--                <li><a th:href="@{/finishGame}">Finish game</a></li>-->
<!--                <li><a style="pointer-events: none;cursor: default;"> Welcome <span id="currentUsername" sec:authentication="principal.username">User</span></a></li>-->
                <li><a id="backToMenu" th:href="@{/}">Back to main menu</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                <li><a href="#" style="pointer-events: none;cursor: default;text-color: red">Auto logout in <i class="glyphicon glyphicon-time"></i><span id="countdown"></span></a></li>
            </ul>
        </div>
    </div>

</nav>
</html>