<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: head">
    <title>Set board error</title>
</head>
<body>
<h2 style="padding: 200px 0 0 0; text-align: center; color: red;">Error occurred during initialization of computer board.
<br>It is recommended to lower amount of allowed ships in settings.</h2>
<div class="btn-back" style="display: flex">
    <button class="menu-btn" onclick = "window.location.href='/'">Back to main menu</button>
</div>
</body>
</html>